{% extends 'base.html.twig' %}
{% block body %}

    <div class="container pt-5 mt-5 text-center">

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}


    <form>
        <div class="row">
        <div class="form-group col-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Mihai Ion">
        </div>
        <div class="form-group col-6">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <textarea class="form-control" id="title" name="title" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" id="tags" name="tags" placeholder="Tag1 Tag2 Tag3 Tag4">
        </div>
        <div class="form-group">
            <label for="image" ></label>
            <input type="file" formmethod="post"  class="form-control-file"  id="image" name="image">
        </div>

        <button type="submit" formmethod="post" formaction="{{ path('create') }}" formenctype="multipart/form-data" class="btn btn-primary">Submit</button>
    </form>
    </div>



{% endblock %}