{% extends 'base.html.twig' %}


{% block body %}
    <div class="container pt-5 mt-5 text-center">
        <h3>Top of the class</h3>
<table class="table">
    <thead class="thead-dark">
    <tr>

        <th scope="col">Name</th>
        <th scope="col">Votes</th>

    </tr>
    </thead>
    <tbody>
    {% if authors %}
        {% for author in authors %}

            <tr>

                <td><a href="/authorsView/{{ author.id }}">{{ author.name }}</a></td>
                <td>{{ author.votes }}</td>

            </tr>
        {% endfor %}
    {% else %}
        <h1>No author found</h1>
    {% endif %}
    </tbody>
</table>
    </div>
{% endblock %}









